#scroll::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
#scroll::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 30px;       /* roundness of the scroll thumb */
  }

#messages::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
#messages::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 30px;       /* roundness of the scroll thumb */
  }

#mutual::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
#mutual::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 30px;       /* roundness of the scroll thumb */
  }

.membersCount {
  margin-left: 40px;
}

.custom-button {
  color: black; /* Set the default text color */
}

.custom-button:hover {
  color: red; /* Set the text color on hover */
}

.dropdown-toggle {
  background-color: #7289da;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.dropdown-menu form {
  display: flex;
  flex-direction: column;
}

.dropdown-menu label,
.dropdown-menu input,
.dropdown-menu button {
  margin-bottom: 10px;
}

.dropdown-menu button {
  background-color: #7289da;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
