<!DOCTYPE html>
<html data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body style="background-color:  #DEF2F1; overflow-y: hidden; height: 100%; overflow-x: hidden; width: 100%;">
  <!--background color, overflow removes scrollbar (fixes page overflow)-->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2B7A78;"><!--nav bar color-->
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          jmessage</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" style="font-size: 20px; font-weight: 850;" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="font-size: 20px;" href="/friends" id="nav_friends_link">Friends</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="font-size: 20px;" href="/settings">Settings</a>
          </li>

        </ul>

      </div>
      <p style="color: lightgray">Welcome, {{USER}}</p>
      <form action="/logout">
        <button class="btn btn-info btn-sm" style="margin-left: 50px;" type="submit">Log out</button>
      </form>
    </div>
  </nav>

  <div>
    <div class="row">
      <!--friends bar-->
      <div class="col-sm-2" style="height: 91vh; padding-right: 5px;">
        <!--100vh makes column fill the page, padding makes scrollbar closer to the border-->

        <div class="h-100 scrollable overflow-auto" id="scroll"> <!--scrollable div-->
          <div>
            <div class="row">
              <div class="col-sm-6" style="text-align: center; padding-right: 0px; margin-bottom: 0px;">
            <h5 style="padding-right: 0px;">Friends</h5>
          </div>
          <div class="col-sm-6" style="padding-left: 0px;">
            <button class="dropdown-toggle" onclick="toggleDropdownCreate()" style="padding: 5px">Create Group</button>
          </div>
          </div>
            <div id="dropdown-menu-create" class="dropdown-menu">
              <form>
                <label for="group-name">Group Name:</label>
                <input type="text" id="group-name" name="group-name" required>
                <button type="submit" onclick="createGroup()">Create</button>
              </form>

              <br>

              <div style="display: flex; align-items: center; justify-content: center;">
                <img id="pfp" src={{PICTURE_URL}} width="100px" height="100px">
              </div>
              <h1 style="margin-left: 2%; margin-right: 50px;">{{user}}</h1>
              <form action="\settings" method="POST" id="upload_profile_form">
                <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
                  <label for="file" class="btn">Upload Profile Picture</label>
                  <input type="file" id="file" style="visibility:hidden; margin-right: 5px;" name="change"
                    accept=".jpg, .jpeg, .png" hidden></input>
                  <input style="display: inline-block;" type="submit" value="Change">
                </div>
              </form>

              <br>

              <form action="" method="POST" class="d-flex">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"
                  onkeyup="createGroupBar(this.value)">
              </form>

              <form id="friends-checkboxes-create">
                {% for friend in FRIENDS %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="{{ friend[0] }}" onchange="setChecked(this)" name="createCheckbox">
                  <label class="form-check-label" for="flexCheckDefault">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Fresh_made_bread_05.jpg"
                      class="rounded-circle" width="30px" height="30px" style="margin-right: 3px;">
                    {{ friend[0] }}
                  </label>
                </div>
                {% endfor %}
              </form>
            </div>
          </div>


          <div class="d-grid gap-2">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

              <!--button template-->
              <div style="width:100%;">
                {% for group in GROUPS %}
                <!-- Will change the image to the user's profile picture when we get that set up -->
                <button id="{{ group }}" type="button" class="btn" name="group_button"
                  style="background-color: #DEF2F1; width:100%; text-align: left;">
                  <img src= "{{ GROUP_INFO[group][1][0] }}"
                    width="30px" height="30px" style="margin-right: 3px;">
                  {{ GROUP_INFO[group][0] }} <!-- Group Title or Friend's name -->

                  {% if GROUP_INFO[group][2] > 2 %}
                  <div class="membersCount"> {{ GROUP_INFO[group][2] }} Members</div>
                  {% endif %}
                  <div class="text-bg-secondary float-end mx-2 px-2 border border-info-subtle border-3 rounded-circle"
                    style="visibility: hidden" id="ping_bubble{{ group }}">
                    0
                  </div>
                </button>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>

      </div>

      <!--chat-->
      <div class="col-sm-8 border-start border-end border-dark-subtle border-3" style="height: 100vh;">

        <div class="border-bottom border-dark-subtle border-3">
          <div class="row">
          <div class="col-sm-4"></div>

          <div class="col-sm-4" style="text-align: center;">
          <h4 style="text-align: center;" id="chat_name"></h4> <!--chat name-->
          </div>

          <div class="col-sm-4" style="text-align: end;">
          <button id="dropdown-button-add" class="dropdown-toggle" onclick="toggleDropdownAdd()">Add User</button>
        </div>
          <div id="dropdown-menu-add" class="dropdown-menu">
            <form>
              <form action="" method="POST" class="d-flex">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"
                  onkeyup="addUserToGroupSearch(this.value)">
              </form>
              <button type="submit" onclick="addUser()">Create</button>

              <form id="friends-checkboxes-add">
                {% for friend in FRIENDS %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="{{ friend[0] }}">
                  <label class="form-check-label" for="flexCheckDefault">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Fresh_made_bread_05.jpg"
                      class="rounded-circle" width="30px" height="30px" style="margin-right: 3px;">
                    {{ friend[0] }}
                  </label>
                </div>
                {% endfor %}
              </form>
            </form>
          </div>
        </div>
        </div>

        <!--message div-->
        <div class="h-75 scrollable overflow-auto" id="messages" style="height: 75vh; margin-bottom: 3%;">


        </div>

        <!--message input-->
        <form action="" method="POST" autocomplete="off" id="messageform"><!--auto complete removes inut suggestions-->
          <input type="text" name="message" minlength="1" class="form-control" id="messageinput"
            placeholder="Send a message..." style="bottom: 14px; width: 75%; left: 0%; right: 0; margin: auto;"
            onchange="ajaxMessage(this.value)" required><br>
          <input type="submit" style="display: none">
          <!--style makes form go to bottom of the page-->
        </form>

      </div>

      <!--members list-->
      <div class="col-sm-2 border-end border-dark-subtle border-3" style="height: 91vh; padding-right: 15px;">
        <!--100vh makes column fill the page, padding makes scrollbar closer to the border-->

        <div class="h-100 scrollable overflow-auto" id="scroll"> <!--scrollable div-->
          <div>
            <h5>Members</h5>
          </div>
          <div id="member_tab">
          </div>
        </div>


      </div>


    </div>

    <!-- TOAST CARD -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="message_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img id="toast_pfp" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Fresh_made_bread_05.jpg"
            class="rounded me-2" alt="profile picture" class="rounded-circle" width="30px" height="30px">
          <strong id="toast_name" class="me-auto">Username</strong>
          <small id="toast-time">Time</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast-message" class="toast-body">
          message
        </div>
      </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
  integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<script src="static/js/home.js"></script>

</html>